.board {
    display: grid;
    grid-template-columns: 75px 75px 75px;
    grid-template-rows: 75px 75px 75px;
}

.space {
    background-color: lightgray;
    border: 1px solid black;
    text-align: center;
    padding: 25px;
}